:root {
  --white: #ffffff;
  --green-700: #00875F;
  --green-400: #00B37E;
  --gray-900: #121214;
  --gray-800: #202024;
  --gray-700: #323238;
  --gray-500: #8D8D99;
  --gray-400: #7C7C8A;
  --gray-300: #C4C4CC;
  --gray-200: #E1E1E6;
  --red-400: #F75A68;
}

:focus {
  outline: transparent !important;
  box-shadow: 0 0 0 1px var(--green-400);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-900);
  color: var(--gray-200);
  -webkit-font-smoothing: antialiased;
}

body, input, text-area, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}