.header {
  background-color: var(--gray-700);
  height: 200px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;
}

.header > img {
  margin-right: 12px;
}

.toText {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--blue);
}

.doText {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--purple);
}