.avatar {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 8px;
}

.avatarWithBorder {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 8px;
  border: 2px solid var(--gray-800);
  outline: 2px solid var(--green-400);
}