.comment {
  width: 100%;
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.comment > img {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 8px;
}

.commentBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.commentBox > button {
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  cursor: pointer;

  font-size: 0.875rem;
  font-weight: 700;
  color: var(--gray-500);
}

.commentBox > button:hover {
  color: var(--green-400);
}

.commentBox > button svg {
  margin-right: 0.625rem;
}

.commentBox > button span::before {
  content: '\2022';
  padding: 4px;
}

.commentArea {
  width: 100%;
  background-color: var(--gray-700);
  border-radius: 8px;
  padding: 1rem;
  padding-bottom: 1.625rem;
}

.commentArea header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.authorAndTime strong {
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--gray-200);
  line-height: 1.6;
}

.authorAndTime span {
  display: block;
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--gray-400);
  line-height: 1.6;
}

.commentArea header button {
  background-color: transparent;
  border: 0;
  color: var(--gray-500);
  line-height: 0;
  border-radius: 2px;
  cursor: pointer;
}

.commentArea header button:hover {
  color: var(--red-400);
}

.commentArea p {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--gray-300);
}