.post {
  width: 100%;
  border-radius: 8px;
  padding: 40px;
  background-color: var(--gray-800);
}

.post + .post {
  margin-top: 2rem;
}

.post > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post > header time {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--gray-400);
  line-height: 1.6;
  text-align: right;
}

.author {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px 16px;
}

.author strong {
  font-size: 1rem;
  font-weight: 700;
  color: var(--gray-200);
  line-height: 1.6;
}

.author span {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--gray-400);
  line-height: 1.6;
}

.postDetails {
  padding: 1.5rem 0;
}

.postDetails p {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray-300);
  line-height: 1.6;
}

.postDetails p a {
  color: var(--green-400);
  text-decoration: none;
  font-weight: 700;
}

.postDetails p a:hover {
  color: var(--green-700);
}

.commentArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 1px solid var(--gray-700);
  padding: 1.5rem 0 0 0;
  gap: 16px;
}

.commentArea footer {
  visibility: hidden;
  max-height: 0;
}

.commentArea:focus-within footer {
  visibility: initial;
  max-height: none;
}

.commentArea > strong {
  font-size: 1rem;
  font-weight: 700;
  color: var(--gray-200);
  line-height: 1.6;
}

.commentArea textarea {
  width: 100%;
  height: 6rem;
  border-radius: 8px;
  background-color: var(--gray-900);
  padding: 0.875rem 1rem;
  resize: none;
  border: none;

  font-size: 1rem;
  font-weight: 400;
  color: var(--gray-300); 
}

.commentArea textarea::placeholder {
  color: var(--gray-400);
}

.commentArea button[type=submit] {
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  background-color: var(--green-700);

  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
  cursor: pointer;
}

.commentArea button:not(:disabled):hover {
  background-color: var(--green-400);
}

.commentArea button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}